html, body {
    width: 100px;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.action:hover {
    background-color: green;
}

.action {
    background-color: honeydew;
}