*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100px;
}

body{
    background-color: black;
}

.hidden {
    display: none;
}

.button {
    margin: 10px;
    padding: 4px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    border-radius: 12px;
}

.action:hover {
    background-color: green;
    box-shadow: 0 0 5px white;
}

.action {
    background-color: honeydew;
}

.unavailable-option{
    background-color: lightcoral;
    text-decoration: line-through;
}

.highlighted{
    background-color: green;
}